/* Este es el archivo style.css */
:root {
    --amarelo: #ffc51aff;
    --app-grey: rgb(247, 247, 247);
    --azul: rgb(91, 91, 229);
    --azul-fran: rgb(102, 138, 255);
    --azul-hover: rgb(40, 40, 197);
    --celeste: rgba(0, 212, 255, 0.75);
    --grey: rgb(242, 243, 248);
    --grey-button: 	rgb(148, 148, 148);
    --grey-header: rgb(219, 219, 219);
    --grey-layer: rgba(224, 224, 224, 0.804);
    --laranja: rgb(84, 31, 23);
    --lila: #8a6df1ff;
    --negro: #000000;
    --oscuro: #1c1c1f;
    --pastel: rgb(192, 179, 204);
    --rosa: rgb(181, 155, 176);
    --salmon:rgb(248, 157, 147);
    --salmon-footer: rgb(241, 192, 186);
    --salmon-fume:rgb(252, 84, 66);
    --semi-oscuro: #8c8c8e;
    --verde: rgb(37, 177, 121);
    --verde-fran: rgb(216, 240, 223);
    }
    
  #root {
    max-width: 100%;
    margin-top: 130px;
  }

h1 {
    color: blue;
    text-align: center;
}

p {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav a {
    color: #333;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
    background-color: #333;
  }
  