/* Este es el archivo style.css */
:root {
    --amarelo: #ffc51aff;
    --app-grey: rgb(247, 247, 247);
    --azul: rgb(91, 91, 229);
    --azul-fran: rgb(102, 138, 255);
    --azul-hover: rgb(40, 40, 197);
    --celeste: rgba(0, 212, 255, 0.75);
    --grey: rgb(242, 243, 248);
    --grey-button: 	rgb(148, 148, 148);
    --grey-header: rgb(197, 197, 197);
    --grey-layer: rgba(224, 224, 224, 0.804);
    --laranja: rgb(84, 31, 23);
    --lila: #8a6df1ff;
    --negro: #000000;
    --oscuro: #1c1c1f;
    --pastel: rgb(192, 179, 204);
    --rosa: rgb(181, 155, 176);
    --salmon:rgb(248, 157, 147);
    --salmon-footer: rgb(241, 192, 186);
    --salmon-fume:rgb(252, 84, 66);
    --semi-oscuro: #8c8c8e;
    --verde: rgb(37, 177, 121);
    --verde-fran: rgb(216, 240, 223);
    }
    
  #root {
    max-width: 100vw;
    margin-top: 200px;
  }

  .container {
    position: fixed;
    z-index: 1000; 
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100vw;
    height: 30vh;
    background-color: var(--grey-header);
    box-shadow: var(--semi-oscuro) 0px 0px 95px, var(--semi-oscuro) 0px 4px 15px ;
    border: px solid var(--semi-oscuro) ;
    padding-bottom: 0px; /* Añade un espacio inferior de 50px */
 }

  .logo {
    display: flex;
    width: 13vw;
    height: auto;
    margin: 20px 100px 20px -20px;
    border-radius: 3px;
 }

  nav { 
  display: flex;
  width: 80vw;
  height: 2rem;
  align-items: center;
  justify-content:space-around;
  font-size: 20px;
  margin: 20px 20px 20px 20px;
  padding: 4px 50px 9px 0px;
  border-bottom-style: solid ;
  border-bottom-width: 1px ;
  border-color: var(--grey-layer) ;
}

  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav a {
    color: #333;
    padding: 10px 12px;
    text-decoration: none;
  }
  
  nav a:hover {
    color: #fff;
    background-color: var(--salmon-footer);
  }

  .h1-home{
    display: flex;
    font: 2rem/2rem "Open Sans", sans-serif;
    width: 100vw;
    height: 17vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 17% 0% 0% 0%;
    padding: 4% 0% 4% 0%;
    color: var(--semi-oscuro);
    border-bottom: 2px solid var(--semi-oscuro); 
    background-color: var(--salmon);
}

.front-img {
  display: flex;
  filter: contrast(110%);
  width: 70vw;
  height: auto;
  justify-content: center;
  align-items: center;
  margin: 10% 5% 1% 14%;
  border-radius: 5px;
  box-shadow: var(--semi-oscuro) 0px 0px 95px, var(--semi-oscuro) 0px 4px 15px ;
  border: 1px solid var(--semi-oscuro) ;
}

.lead-text-center {
  font: 1rem/1rem "Open Sans", sans-serif;
  display: flex;
  width: 90vw;  
  justify-content: center;
  align-items: center;
  text-align: center;
  line-height: 1.5;
  margin: 4% 0% 3% 0%;
  padding: 1% 0% 0% 2%;
  color: var(--semi-oscuro); 
}
  
.page-footer  {
  display: flex;
  width: 100vw;
  justify-content: center;
  height: 20%;  
  background-color: var(--salmon-footer);
  box-shadow: var(--grey) 0px 0px 95px, var(--azul) 0px 4px 31px;
  border: 0px solid var(--azul-fran); 
}

.gral-footer {
  width: 100vw;
}

.btn-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  background-color:var(--grey-button);
  width: 8em;
  text-decoration: none;
  margin: 3% 0% 0% 44%;
  padding: 1%;
  border-radius: 5px;
  box-shadow: var(--grey) 0px 0px 95px, var(--azul) 0px 1px 7px;  
}

.btn-footer:hover {
  border-color: 5px var(--azul-fran);
}

.rrss {
  display: flex;
  width: 40%;
  color: var(--oscuro);
  padding: 0% 0% 0% 0%;
  margin: 2% 0% 0% 10%;
  border-bottom: 2px solid var(--pastel);
}

ul {
  margin: auto 0;
  list-style-type: none; 
}

.icons {
  display: inline-flex;
  justify-content: center;
  width: 100vw;
  height: auto ; 
}

.icons img {
  width: 2rem; 
  height: auto;
  text-align: center;
  padding: 30% 30% 15% 30%;  
  margin: 20% 0% 0% 0%;
}

.icons img:hover {
  display: inline-flex;
  cursor:crosshair;
  width: 60px;
  opacity: 1;
  filter: contrast(190%);
  object-fit: cover;
  opacity: .8;
  transition: .7s ease;
  padding: 0px 0px 10px 0px;  
}

a {
  width: 10rem;
}

.datos-ubicacion-titulo {
  display: flex;
  width: 100vw;
  align-items: center;
  color: var(--oscuro);
  padding: 0% 0% 0% 0%;
  margin: 1% 1% 1% 1%;
}

.ul-hdt {
  display: inline-flex;
  width: 100vw;
  margin: 1% 1% 1% 0%;
}

.li-horario {
  display: flex;
  width: 30%;
  padding: 0% 0% 1% 0%;
  margin: 0.5% 7% 0% 2%;
  border-bottom: 1.9px solid var(--semi-oscuro);
}

.li-direccion {
  display: flex;
  width: 30%;
  padding: 0% 0% 1% 0%;
  margin: 0.5% 7% 0% 2%;
  border-bottom: 1.9px solid var(--semi-oscuro);
}

.li-telefono {
  display: flex;
  width: 30%;
  padding: 0% 0% 1% 0%;
  margin: 0.5% 7% 0% 1%;
  border-bottom: 1.9px solid var(--semi-oscuro);
}

.li-1 {
  padding: 0% 0% 0% 0%;
  margin: 1% 0% 7% 5.5%;
}

.li-2 {
  padding: 0% 0% 0% 0%;
  margin: 1% 0% 7% 16.5%;
}

.li-3 {
  padding: 0% 0% 0% 0%;
  margin: 1% 0% 7% 10%;
} 

.ul-ubicacion {
  font: 0.8rem/1rem "Open Sans", sans-serif;
  display: inline-flex;
  width: 100vw;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
}

.datos-ubicacion {
  display:flex;
  width: 100vw;
  align-items: center;
  color: var(--oscuro);
  padding: 0% 0% 0% 0%;
  margin: 0% 1% 1% 1%;
}

.copyright {
  display: flex;
  align-items: center;
  width: 90vw;

  color: var(--oscuro);
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 38%;
}

.p-footer {
  display: flex;
  width: 27vw;
  font: 0.8rem/1rem "Open Sans", sans-serif;
  padding: 0% 0% 0% 0%;
  margin: 0% 0% 0% 0%;
}

.logo-footer {
  width: 3rem;
  height: 3rem;
  margin: 0% 0% 0% 0%;
  border-radius: 5px;
  box-shadow: var(--semi-oscuro) 0px 2px 95px, var(--azul-hover) 0px 5px 10px;
  border: 1px solid var(--azul-fran);
}
